.page-not-found {
  $self: &;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  p {
    text-align: center;
    font-weight: 600;
    font-size: 24px;

    @media (max-width: 575px) {
      font-size: 16px;
    }
  }
}
