.footer {
  $self: &;

  height: 60px;
  background-color: $midnight_express;

  &__container {
    @include container();

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
  }

  &__credentials {
    color: $white;
  }
}
