.brand-button {
  $self: &;

  display: inline-flex;
  align-items: center;

  height: 40px;
  color: $charcoal;

  transition: all $basic_interval;

  @media (max-width: 1279px) {
    height: 30px;
  }

  &:not([disabled]):hover {
    color: $midnight_express;
  }

  &[disabled] {
    opacity: 0.5;
  }

  &__wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;

    color: currentColor;

    background-color: $hawkes_blue;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
    padding-left: 16px;
    padding-right: 16px;

    color: currentColor;

    @media (max-width: 1279px) {
      padding-left: 12px;
      padding-right: 12px;

      font-size: 14px;
    }

    @media (max-width: 959px) {
      padding-left: 10px;
      padding-right: 10px;

      font-size: 13px;
    }

    @media (max-width: 767px) {
      padding-left: 8px;
      padding-right: 8px;

      font-size: 12px;
    }
  }

  &__icon {
    position: relative;

    display: block;
    flex-shrink: 0;
    width: 40px;
    height: 40px;

    background-color: currentColor;

    @media (max-width: 1279px) {
      width: 30px;
      height: 30px;
    }

    &:before {
      content: '';
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 50%;
      left: 50%;

      width: 24px;
      height: 24px;

      color: $white;
      font-size: 30px;

      border-radius: 50%;
      border: solid 1px $white;

      transform: translate3d(-50%, -50%, 0);

      @media (max-width: 1279px) {
        width: 20px;
        height: 20px;
      }
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 30%;
      height: 30%;

      transform: translate3d(-50%, -50%, 0);

      @media (max-width: 1279px) {
        width: 35%;
        height: 35%;
      }
    }
  }

  &_action-add {
    #{$self}__icon:before {
      content: '+';
    }
  }
}
