include ../../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('brand-button')(:class="getMods" @click="$emit('click', $event)" :disabled="disabled" :type="href ? false : type" :is="href ? 'router-link' : 'button'")(:to="href ? href : false")
    +e('wrapper')
        +e('icon')
            img(v-if="icon" :src="icon" alt="")
        +e('title')(v-if="title") {{ title }}
