.note-widget {
  $self: &;

  box-shadow: 0 2px 10px -3px $midnight_express;
  border-radius: 5px;

  &__wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 24px;

    @media (max-width: 1279px) {
      padding: 20px;
    }

    @media (max-width: 575px) {
      padding: 16px;
    }
  }

  &__header {
    position: relative;

    width: 100%;
    padding: 6px 12px;

    border: solid 1px rgba($charcoal, 0.2);
  }

  &__title-placeholder {
    pointer-events: none;

    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 0 12px;

    opacity: 0.5;

    @media (max-width: 959px) {
      font-size: 14px;
    }
  }

  &__title {
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;

    @media (max-width: 959px) {
      font-size: 14px;
    }
  }

  &__list {
    padding: 24px 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;

      position: relative;
      margin-bottom: 8px;

      width: 100%;
      min-height: 30px;

      &:nth-child(2n+2) {
        background-color: rgba($charcoal, 0.1);
      }
    }

    &:not(#{$self}__list_view-readonly) {
      li:last-child {
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  &__spoiler {
    transition: max-height $basic_interval;

    &#{$self}__spoiler_view-short {
      overflow: hidden;
      max-height: 144px;
    }
  }

  &__item {
    width: 100%;
    min-height: 30px;
    padding: 5px 12px 0 30px;

    font-family: 'Noto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: $midnight_express;

    outline: none;
    background: none;

    @media (max-width: 959px) {
      min-height: 26px;
      font-size: 14px;
    }

    &.state_checked {
      text-decoration: line-through;
    }
  }

  &__item-check {
    cursor: pointer;

    position: absolute;
    top: 5px;
    left: 4px;

    width: 20px;
    height: 20px;

    border: solid 1px rgba($charcoal, 0.2);
    transition: all $basic_interval;

    &:not([disabled]):hover {
      border-color: $midnight_express;
    }

    &[aria-checked="true"] {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-image: url('../../../assets/icons/checkbox_icon.svg');
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
      }
    }
  }

  &__item-placeholder {
    pointer-events: none;

    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0.5;

    @media (max-width: 959px) {
      font-size: 14px;
    }

    &:before {
      content: '+';
      margin-right: 16px;
      margin-left: 4px;
      font-size: 30px;
    }
  }

  &__item-remove {
    display: flex;
    align-items: center;
    justify-content: center;

    //margin-top: 4px;
    margin-right: 4px;

    flex-shrink: 0;
    width: 20px;
    height: 20px;

    transition: all $basic_interval;

    &:hover {
      background-color: rgba($midnight_express, 0.2);
    }

    img {
      width: 70%;
      height: 70%;
    }
  }

  &__controls {
    display: flex;
    margin-top: auto;

    @media (max-width: 1279px) {
      flex-wrap: wrap;
    }

    @media (max-width: 575px) {
      flex-direction: column;
    }
  }

  &__actions {
    margin-left: auto;

    @media (max-width: 575px) {
      margin-left: 0;
      text-align: center;
    }

    #{$self}__button {
      margin-left: 8px;
    }
  }

  &__button {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: 1279px) {
      margin-right: 8px;
    }

    @media (max-width: 575px) {
      margin-bottom: 8px;
      margin-right: 0;
    }

    &#{$self}__button_target-spoiler {
      .brand-button__wrapper {
        width: auto;
      }

      @media (max-width: 575px) {
        align-self: center;

        &[disabled] {
          display: none;
        }
      }
    }

    img {
      transform-origin: 25% 25%;
      transition: all $basic_interval;
    }

    &.state_active {
      img {
        transform: rotate(-180deg);
      }
    }
  }

  &__dialog {
    padding: 40px;
    border: none;
    box-shadow: 0 0 5px rgba($black, 0.5);

    @media (max-width: 575px) {
      max-width: 280px;
      padding: 20px;

      p {
        font-size: 14px;
      }
    }

    .note-widget__button {
      margin-right: 8px;
    }
  }

  &__dialog-controls {
    margin-top: 24px;
  }
}
