include ../../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+e('note', { p: 'details' })(v-if="data")
    +e('title', { p: 'page' }) Редактировать заметку
    +e('widget', { t: 'note-widget', p: 'details' })(:data="data" status="extended")
+e('attention', { p: 'details' })(v-else="") Заметка не найдена
