include ../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('details')
    +e('container')
        +e('row')
            template(v-if="!$route.params.id")
                +e('title', { p: 'page' }) Новая заметка
                +e('widget', { t: 'note-widget' })(status="default")
            router-view

