include ../../../../node_modules/bempug/index
- BEMPUG.modifier = '_';

+b('header')
    +e('container')
        +e('logo', { t: 'router-link' })(to="/") Заметка
        +e('phone', { t: 'a' })(href="tel:89990009900") +7(999) 000 99 00
