.header {
  $self: &;

  height: 60px;
  background-color: $midnight_express;

  &__container {
    @include container();

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
  }

  &__logo {
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__phone {

    color: $white;
  }
}
