@import "~normalize-scss";

@include normalize();
@import 'gui';

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: normal;
  font-size: $fntBasic;
  font-weight: normal;
  color: $colorText;
}

h1, h2, h3, h4, h5, ul, menu, dir, p, button, a {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a, button {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Noto', sans-serif;
  outline: none;
  border: none;
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea {
  font-family: 'Noto', sans-serif;
  outline: none;
  border: none;
}
