.home {
  $self: &;

  flex-grow: 1;

  &__container {
    padding-top: 40px;
    padding-bottom: 40px;

    @include container();
  }

  &__wrapper {
    @include row-flex();
  }

  &__attention {
    margin-top: 40px;

    text-align: center;
    font-weight: 600;
    font-size: 24px;
    opacity: 0.6;
  }

  &__widget {
    margin-top: 24px;

    align-self: flex-start;
    @include col();
    @include size(6);
    @include size-md(12);
  }

  &__note-add {
    width: 100%;
  }
}
